@charset "utf-8";

html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	background-color: #DBE5EB;
	background-image: url(../img/Page-BgTexture.jpg);
#	background-repeat: repeat;
#	background-attachment: scroll;
#	background-position: top left;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -30px 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-Serif;
}

/* 
 * Header
 */

#header {
	position: relative;
	background-image: url(../img/Page-BgGradient.jpg);
	background-repeat: repeat-x;
	width: 100%;
	height: 50px;
    float: left;
}

#header #logo {
	float: left;
    margin-left: 100px;
    height: 50px;
    width: 270px;
}

#header #logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: #265273;
    font-size: 42px;
    font-weight: bold;
}

#header #logo a img {
    margin: 0 20px 0 0;
}

#add-buttons {
    float: left;
    margin: 15px 0 15px 20px;
    height: 20px;
}

#add-buttons #add-news {
    float: left;
    margin:0 20px;
    text-decoration: none;
}

#add-buttons #add-news a {
    text-decoration: none;
    color: #265273;
    font-weight: bold;
}

#add-buttons #add-news a img {
    margin: -10px 5px 0 0;
}

#add-buttons #add-instruction {
    float: left;
    margin:0 20px;
}

#add-buttons #add-instruction a {
    text-decoration: none;
    color: #265273;
    font-weight: bold;
}

#add-buttons #add-instruction a img {
    margin: -10px 5px 0 0;
}

#add-buttons #add-vip {
    float: left;
    margin:0 20px;
}

#add-buttons #add-vip a {
    text-decoration: none;
    color: #265273;
    font-weight: bold;
}

#add-buttons #add-vip a img {
    margin: -10px 5px 0 0;
}

#add-buttons #edit-phones {
    float: left;
    margin:0 20px;
}

#add-buttons #edit-phones a {
    text-decoration: none;
    color: #265273;
    font-weight: bold;
}

#add-buttons #edit-phones a img {
    margin: -10px 5px 0 0;
}

#header #header_sel {
	float: right;
	margin: 15px 100px 0 0;
}

#middle {
	margin: 24px 0;
    float: left;
    width: 100%;
}

#middle #leftside {
	position: relative;
	margin-left: 100px;
	padding: 0;
	border: 0;
	float: left;
	/*overflow: hidden;*/
    width: 270px;
}

#middle #leftside .item {
	position: relative;
	z-index: 0;
	margin: 0 auto;
	min-width: 1px;
	min-height: 1px;
}

#middle #leftside .item .item-body {
	position: relative;
	z-index: 1;
	padding: 0;
}

#middle #leftside .item .item-body .item-header {
	position: relative;
	z-index: 0;
	height: 30px;
	padding: 0 8px;
	margin-bottom: 4px;
}

.item-header .l, .item-header .r{
	display: block;
	position: absolute;
	z-index: -1;
	height: 30px;
	background-image: url(../img/BlockHeader.png);
}

.item-header .l {
	left:0;
	right:3px;
}

.header-tag-icon {
	height: 30px;
	background-position: left top;
	background-image: url(../img/BlockHeaderIcon.png);
	padding: 0 0 0 15px;
	background-repeat: no-repeat;
	min-height: 12px;
	margin: 0 0 0 5px;
}

.header-tag-icon a {
    text-decoration: none;
    color: #000;
}

.item-header .t {
	height: 30px;
	color: #000;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	white-space : nowrap;
	padding: 0 6px;
	line-height: 30px;	
}

#content {
    float: left;
	position: relative;
	z-index: 1;
    height: 100%;
    width: 50%;
    min-width: 500px;
    min-height: 650px;
    font-size: 12px;
    padding: 20px 60px;
    margin: 0 0 0 20px;
    background-image: url(../img/Sheet-c.png);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

#news .news-item {
	height: auto;
	max-height: 150px;
	min-height: 70px;
	margin: 10px;
	padding: 10px;
	border: 1px dotted #265273;
	font-size: 12px;
}

#footer {
    /*margin-top: -30px;*/
    /*position: relative;*/
	width: 100%;
    float: left;
}

#footer div {
    height: 30px;
	padding-top: 8px;
	text-align: center;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
    background-image: url(../img/Page-BgGradient.jpg);
    background-repeat: repeat-x;
}

#footer div a {
	text-decoration: none;
	color: #265273;
}

#dialog-form {
    display: none;
}




